<% 

units = []

units << Unit.new do |p|
  p.name = 'Unit_1'
  p.plan = Unit::Plan::Text.new(:name => 'geiler text')
end

units << Unit.new do |p|
  p.name = 'Unit_2'
  p.plan = Unit::Plan::Integer.new(:name => 'geiler integer')
end

units << Unit.new do |p|
  p.name = 'Unit_3'
  p.plan = Unit::Plan::Boolean.new(:name => 'geiler boolean')
end

units << Unit.new do |p|
  p.name = 'Unit_4'
  p.plan = Unit::Plan::Collection.new(:name => 'geile collection')
end


# embedded_concept = Concept.new do |f|
#   f.name = "embedded concept"
# end
# embedded_concept.save

concept = Concept.find('495aa74b512fb43f00ef20e1')
concept.version = nil

# concept = Concept.new(:name => 'Idee') do |f|
# end

concept.units = []

units.each do |unit|
  concept.units << unit
end

concept.save

concept = Concept.find('495aa74b512fb43f00ef20e1')
%>

<hr />

<%= concept.id %>
<%= concept.name %>
<%= concept.updated_at %>
<hr />



<% concept.units.each do |unit| %>
  <h3><%= unit.name %></h3>
  <%= unit.type %><br />

  <h4>fields</h4>
  <% unit.plan.field_names.each do |field_name| %>
    <%= field_name %> : <%= unit.plan.send(field_name)  %><br />
  <% end %><br />

  <h4>presets</h4>
  <%= unit.plan.presets.to_json %>
  <hr />
<% end %>
