<% form_for @concept do |form| %>
  <% field_set_tag link_to_object(@concept) + object_control_for(@concept) do %>  
    <%= form.label :name %>
    <%= form.text_field :name %>
    
    <%= form.label :text %>
    <%= form.text_area :text %>

    <%= submit_button %>
  <% end %>
<% end %>

<!-- <h3>units</h3> -->

<%#= control_list_container(
      link_to('new unit', "#new_unit"), 
      @concept.units.map{ |unit| link_to(unit.name, "##{unit.id}") } ) %>

<%#= render :partial => @concept.units %>
<!-- <hr />
<h3>new unit</h3> -->
<%#= render :partial => Unit.new %>
