<a name="<%= unit.id || 'new_unit' %>"></a>  
<% form_for "unit[#{unit.name}]", unit,
    :url => unit.new_record? ? concept_units_path(@concept) : concept_unit_path(@concept, unit),
    :html => { :method => unit.new_record? ? :post : :put } do |form| %>

  <% field_set_tag fieldset_name_for_unit(unit, @concept) do %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :type %>
    <%= form.select :type,
          Unit::Plan::Base.available_plans.map(&:human_name),
          { :selected => unit.new_record? ? 'Text' : unit.plan.class.human_name },
          :disabled => unit.new_record? ? false : true %>

    <%= form.label :required %>
    <%= form.check_box :required %>

    <%= submit_button %>

  <% end %>

<% end %>



